{{#section 'head'}}
	<!-- Head stuff -->
{{/section}}

<div class="row">

<h1 class="bestows">About</h1>

<img src="/img/me.png" alt="me" class="col-xs-2">

<p class="col-xs-10">My name is Sam Tarakajian. I make programs and music and things. Get in touch over <a href="mailto:starakajian@gmail.com">email</a> or <a href="http://www.twitter.com/starakaj">twitter</a> or <a href="http://www.youtube.com/dude837">youtube</a>.</p>

<h3 class="col-xs-12">Who are you?</h3>

<!-- Nav tabs -->
<div class="btn-group col-xs-12" role="tablist">
  <a href="#employer" role="tab" data-toggle="tab">
    <button type="button" class="btn btn-default">Potential Employer</button>
  </a>
  <a href="#robot" role="tab" data-toggle="tab">
    <button type="button" class="btn btn-default">Robot</button>
  </a>
  <a href="#gary" role="tab" data-toggle="tab">
    <button type="button" class="btn btn-default">Gary Oldman</button>
  </a>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="employer">
    <h2 class="bestows col-xs-12">Potential Employer</h2>
    <p class="col-xs-12">
      Sam speaks 7±2 languages, including but not limited to English, French, German, Chinese, Reverse Polish, English++ and Objective-English. Here's a <a href="/pdf/resume_2014.pdf">resume</a>
    </p>
  </div>

  <div class="tab-pane" id="robot">
    <h2 class="bestows col-xs-12">Robot</h2>
    <p class="col-xs-12">
      0110011101101111001000000110000101110111011000010111100100101100001000000111001001101111011000100110111101110100
    </p>
  </div>

  <div class="tab-pane" id="gary">
    <h2 class="bestows col-xs-12">Gary Oldman</h2>
    <p class="col-xs-12">
      I am literally your biggest fan.
    </p>
  </div>
</div>

</div>

{{#section 'scripts'}}
	<!-- scripts stuff -->
	<script type="text/javascript">
		$('a[role="tab"]').click(function(e){
			e.preventDefault();
			$(this).tab('show');
		})
	</script>
{{/section}}