{{#section 'head'}}
	<!-- Head stuff -->
{{/section}}

<!-- Nav tabs -->
<h2>Choose your disposition</h2>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#skeptical" role="tab" data-toggle="tab">skeptical</a></li>
  <li><a href="#sincere" role="tab" data-toggle="tab">sincere</a></li>
  <li><a href="#intrigued" role="tab" data-toggle="tab">intrigued</a></li>
  <li><a href="#employing" role="tab" data-toggle="tab">employing</a></li>
  <li><a href="#offended" role="tab" data-toggle="tab">offended</a></li>
  <li><a href="#confused" role="tab" data-toggle="tab">confused</a></li>
  <li><a href="#contemplative" role="tab" data-toggle="tab">contemplative</a></li>
  <li><a href="#curious" role="tab" data-toggle="tab">curious</a></li>
  <li><a href="#indifferent" role="tab" data-toggle="tab">indifferent</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="skeptical">Why so skeptical?</div>
  <div class="tab-pane" id="sincere">Thank you for being sincere</div>
  <div class="tab-pane" id="intrigued">Really? Intrigued you say?</div>
  <div class="tab-pane" id="employing">Okay, let's talk</div>
  <div class="tab-pane" id="offended">Seriously?</div>
  <div class="tab-pane" id="confused">Okay, let's talk</div>
  <div class="tab-pane" id="contemplative">Okay, let's talk</div>
  <div class="tab-pane" id="curious">Okay, let's talk</div>
  <div class="tab-pane" id="indifferent">Okay, let's talk</div>
</div>

{{#section 'scripts'}}
	<!-- scripts stuff -->
	<script type="text/javascript">
		$('a[role="tab"]').click(function(e){
			e.preventDefault();
			$(this).tab('show');
		})
	</script>
{{/section}}