{{#section 'head'}}
	<!-- Head stuff -->
{{/section}}

<div class="row">

<img src="/img/breath-ipad-harness.JPG" alt="WTF is right" class="col-xs-12"/>

<p class="col-xs-12">
	"The fuck," you might very reasonably ask, "is that?"	
</p>

<p class="col-xs-12"> 
	Well, if you came to <a href="http://code-control.com/">Code Control 2013</a>, you may have seen me introducing Mira with a special device for holding up your iPad without using your hands. Made from an iPad case augmented with a few replacement backpack straps, I like to think of it as a kind of techno-brassiere for people who love iPads but hate holding things.
</p>

<iframe src="//player.vimeo.com/video/63846055" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="center-block"></iframe>

<p class="col-xs-12">
	But how did that iPad bust enhancer come to be? An interesting question that leads us, obviously, to the erotic.
</p>

<img src="/img/breath_lobsterCover_color.jpg" alt="Neurotica" class="center-block">

<p class="col-xs-12">
	Every couple of months or so my friend Lindsay will host an event called Neurotica, a kind of salon for people who choose to express their animal urges in confused and unusual ways. In the past I've written a couple of very strange <a href="/stories/neurotica">short stories</a> for Neurotica, but once in a while I try to do something a little weirder. Say using context-aware fill to remove all the genitals from hardcore pornography, or, in this case, making an iPad sex organ.
</p>

<p class="col-xs-12">
	The idea was to somehow attach the iPad to myself, then walk through the audience and let people touch it. The iPad would respond to touch gestures by sending information to a Max patch, which would play sounds to accompany each touch.
</p>

<iframe class="col-xs-12" height="720" src="//www.youtube.com/embed/rbS05A1NegY" frameborder="0" allowfullscreen></iframe>

<p class="col-xs-12">
	Making everything work took a bunch of programming, but the most fun part of this project was recording all the breathing sounds to go with the Max patch. They start with natural, yoga-esque sounds like what you hear in this video, but quickly escalate to some very intense, shall we say more enthusiastic sounds that are not safe for life, let alone work. No, you can't have them, nor can you see video from the original and only perfomance. Nothing from Neurotica is ever documented. Thank god. 
</p>

</div>

{{#section 'scripts'}}
	<!-- scripts stuff -->
{{/section}}