{{#section 'head'}}
	<!-- Head stuff -->
{{/section}}

<div class="row">
	<h1 class="col-xs-12">FLOTSAM - Friends of Sam Listen to Music</h1>
	<div class="col-xs-10 col-xs-offset-1">
		Citizens of the twenty-first century are blessed with an astounding wealth of access to information. They can instantly connect themselves not only to vast stores of anonymous, community generated facts from sources like Wikipedia, but also to flesh and blood experts in almost any field. Take music for example: with a few mouse clicks anyone can read the opinions of the absolute titans of the industry, the academic and social moguls of the musical idiom.
	</div>
	<div class="col-xs-10 col-xs-offset-1">
		We are not those titans. 
	</div>
	<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 mixlr-player">
		<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/70584091&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
	</div>
	<div class="col-xs-10 col-xs-offset-1">
		Flotsam is a show where we listen to music that we like and then talk about it. That's about it. You can find us most Wednesdays at 6pm PST on <a href="mixlr.com/flotsam">mixlr.com/flotsam</a>, and you can listen to all the old shows at <a href="http://mixlr.com/flotsam/showreel/">http://mixlr.com/flotsam/showreel</a>
	</div>
</div>

{{#section 'scripts'}}
	<!-- scripts stuff -->
{{/section}}