{{#section 'head'}}
	<!-- Head stuff -->
{{/section}}

<img src="/img/berkely-arts-front.png" alt="Art happens in this place">

<p>
	I swear that at one point I could play piano. Well, even. Over the years things have changed, and whether due to inactivity or the intrusion of other skills (I'm looking at you, Colemak), at this point I'm lucky to stumble through the first couple measures of Chopsticks.
</p>

<p>
	That makes me sad. There's a video on youtube that never fails to make me smile, of an Italian gentleman disassembling an enormous wheel of Parmesan cheese. Watching him elegantly partition the cheese with grace and well-practiced skill, I don't feel jealous or frustrated–I never knew how to chop up a block of cheese and I probably never will. Nothing gets in the way of my appreciating his dexterity, which is exactly the inverse of the feeling that rushes over me when I sit down at a piano. "Fuck," I say to myself, "this used to mean something to me."
</p>

<p>
	This piece, Tecton, came out of a desperate wish to play piano again, even if somewhat inexpertly. Did I use my <a href="http://cycling74.com">Max</a> programming ability to mask my piano playing inability? Of course. But thanks to Bay Area electronic music maven <a href="http://www.joelasqo.com/">Joe Lasqo</a>, I was able to perform it at the Berkeley Arts Festival anyway. Careful, the dynamic range of this piece is, well, dynamic. Several people left at one point during the performance when things got a bit too loud. My friend Stephan assures me that it's not real art until someone angrily leaves the room
</p>

<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/145212057&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

{{#section 'scripts'}}
	<!-- scripts stuff -->
{{/section}}