{{#section 'head'}}
	<!-- Head stuff -->
{{/section}}

<h1 class="bestows">Thanks for downloading</h1>

<div class="page">
	<div class="col-sm-12">
		<p class="bestows">While you're here, please check out my app, Rhythm Necklace, now available in the App Store</p>
	</div>
	<a href="https://itunes.apple.com/gb/app/rhythm-necklace-geometric/id954669874?mt=8">
		<img src="/img/app_store.png" class="col-xs-12 col-sm-2 app-store-img">
	</a>
	<div class="col-xs-6 col-md-6 col-md-offset-1">
	<iframe src="https://player.vimeo.com/video/124012676?title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/124012676">Rhythm Necklace App</a> from <a href="https://vimeo.com/rhythmnecklace">Rhythm Necklace</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	</div>
</div>

{{#section 'scripts'}}
	<!-- scripts stuff -->
	<script type="text/javascript">
		$( function() {
			window.location = window.location.href + "?skip_thanks=1";
			});
	</script>
{{/section}}