{{#section 'head'}}
	<!-- Head stuff -->
{{/section}}

<img src="/img/breath-ipad-harness.JPG" alt="WTF is right">

<p>
	<a href="https://vimeo.com/user7178754">Naoto Fushimi</a> remains a continual source of inspiration, a man whose prodigious talent is matched only by his humility. Every once in a while I'll see one of his Jitter videos and get excited to work on something. Though the result is never as amazing, sometimes I'm able to squeeze out something interesting. 
</p>

<video width="540" height="800" controls>
	<source src="envelope-extraction.mp4" type="video/mp4">
	Your browser does not support the video element.
</video>

{{#section 'scripts'}}
	<!-- scripts stuff -->
{{/section}}